<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body class="container-fluid">
<div th:replace="fragments :: page-header"></div>
<div th:replace="fragments :: messages"></div>
<div class="container">
    <div class="row d-flex justify-content-center" th:replace="fragments :: header"></div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-3 py-4">
                <div class="text-center"><img th:src="@{${translator.getPhotosImagePath}}"
                                              onerror="this.error=null;this.src='/img/default-logo.png';" width="100"
                                              alt="Translator Photo" class="rounded-circle">
                </div>
                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white" th:text="${translator.language}">Pro</span>
                    <h5 class="mt-2 mb-0" th:text="${translator.firstName + ' ' +translator.lastName}">Translator Full
                        Name</h5>
                    <span th:text="${translator.address}">Address</span>
                    <p th:text="${translator.email}">Email</p>
                    <div class="px-4 mt-1">
                        <p class="fonts" th:text="${translator.bio}"></p>
                    </div>
                    <ul class="social-list">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-dribbble"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                        <li><i class="fa fa-google"></i></li>
                    </ul>
                    <div class="buttons">
                        <button class="btn btn-outline-primary px-4">Message</button>
                        <button
                                class="btn btn-primary px-4 ms-3">Contact
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>