<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: page-header"></nav>
<div th:replace="fragments :: messages"></div>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Photo</th>
            <th>Name</th>
<!--            <th>Last Name</th>-->
            <th>Languages</th>
            <th>Address</th>
            <th>Bio Info</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="translator : ${translators}">
            <td> <img th:src="@{${translator.getPhotosImagePath}}"
                     onerror="this.error=null;this.src='/img/default-logo.png';" width="100"
                     alt="Translator Photo" class="rounded-circle"></td>
            <td><a th:text="${translator.firstName} + ' ' + ${translator.lastName}"
                   th:href="'/admin/translator/Detail?translatorId='+ ${translator.id}"></a></td>
<!--            <td th:text="${translator.lastName}"></td>-->
            <td th:text="${translator.language}"></td>
            <td th:text="${translator.address}"></td>
            <td th:text="${translator.bio}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>