<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>
<div th:replace="fragments :: messages"></div>
<main class="container">
    <div class="row d-flex justify-content-center" th:replace="fragments :: header"></div>
    <form action="#" th:action="@{/translator/register}" method="post" th:object="${translatorRegFormDTO}" enctype="multipart/form-data">

    <div class="form-group">
            <label>First Name
                <input class="form-control" th:field="${translatorRegFormDTO.firstName}"/>
            </label>
            <p class="error" th:errors="${translatorRegFormDTO.firstName}"></p>
        </div>

        <div class="form-group">
            <label>Last Name
                <input class="form-control" th:field="${translatorRegFormDTO.lastName}"/>
            </label>
            <p class="error" th:errors="${translatorRegFormDTO.lastName}"></p>
        </div>
        <div class="form-group">
            <label>Email
                <input class="form-control" th:field="${translatorRegFormDTO.email}"/>
            </label>
            <p class="error" th:errors="${translatorRegFormDTO.email}"></p>
        </div>
        <div class="form-group">
            <label>Language
                <input class="form-control" th:field="${translatorRegFormDTO.language}"/>
            </label>
            <p class="error" th:errors="${translatorRegFormDTO.language}"></p>
        </div>

        <div class="form-group">
            <label>Biography
                <textarea class="form-control" rows="3" th:field="${translatorRegFormDTO.bio}"/>
            </label>
            <p class="error" th:errors="${translatorRegFormDTO.bio}"></p>
        </div>

        <div class="form-group">
            <label>Address
                <textarea class="form-control" rows="3" th:field="${translatorRegFormDTO.address}"/>
            </label>
            <p class="error" th:errors="${translatorRegFormDTO.address}"></p>
        </div>

        <div class="form-group">
            <label>Upload Photo
                <input class="form-control" type="file" name="image" accept="image/png, image/jpeg"/>
            </label>
            <p>Upload your photo. Max file size 50 MB</p>
            <p class="error"></p>
        </div>
        <div class="form-group">
            <label>Password
                <input class="form-control" th:field="${translatorRegFormDTO.password}" type="password"/>
            </label>
            <p class="error" th:errors="${translatorRegFormDTO.password}"></p>
        </div>

        <div class="form-group">
            <label>Verify Password
                <input class="form-control" th:field="${translatorRegFormDTO.verifyPassword}" type="password"/>
            </label>
        </div>
        <br>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Register"/>
        </div>
    </form>
</main>
<div th:replace="fragments :: footer"></div>

</body>
</html>