<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">

<nav th:replace="fragments :: page-header"></nav>

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Languages</th>
            <th>Address</th>
            <th>Bio Info</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="translator : ${translators}">
<!--                <a th:href="@{/detail{translator}(translator=${translator.translatorId)}">-->
<!-- <span th:text="${translator.firstName}"></span></a>-->


<p>
    <a th:href="@{'translator/detail' + ${translator.id}}"  th:text="${translator.id}"></a>
</p>
            <td th:text="${translator.firstName}"> First Name </td>
        <td th:text="${translator.lastName}"> Last Name </td>
        <td th:text="${translator.language}"> Languages </td>
        <td th:text="${translator.address}"> Address </td>
        <td th:text="${translator.bio}"> Bio Info </td>

        </tr>
        </tbody>

    </table>

</div>
</body>
</html>

<!--<td>-->
<!--    <li th:each="employer : ${employers}">-->
<!--        <a th:href="@{/list/jobs(column=employer,value=${employer.name})}" th:text="${employer.name}"></a>-->
<!--    </li>-->
<!--</td>-->