<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Translators: ' + translator.name}">Translators List</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="job-listing">
    <p th:text="${'Name: ' + translator.name}"></p>
    <p th:text="${'Address: ' + translator.address}"></p>
    <p th:text="${'Email: ' + translator.email}"></p>
    <p th:text="${'Language: ' + translator.language}"></p>
    <p th:text="${'Biography: ' + translator.bio}"></p>
    <p th:text="${'Photo: ' + translator.getPhotosImagePath}"></p>


</div>


</body>
</html>
