<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
<body>
<div th:replace="fragments :: page-header"></div>
<div th:replace="fragments :: messages"></div>

<!--<h5>I have a document written in</h5>-->

<!--<form th:action="@{/search/results}" method = "post">
    <p>
        <label for="language1">Language:</label>
        <input type="text" id="language1" name="language1">
    </p>
    <h5>That I want translated to</h5>
    <p>
        <label for="language2">Langauge:</label>
        <input type="text" id="language2" name="language2">
    </p>

    <input type="submit" value="Show Translators">
</form>-->

<h5>We provide matches for English to foreign language</h5>
<h5>Or foreign language to English translations.</h5>
<br>
<br>
<h5>Please select a foreign language</h5>
<h5>To be used for this translation:</h5>

<form th:action="@{/search/results}" method = "post">
    <select required name="language" id="language">
        <option disabled selected value> -- select a language -- </option>
        <option th:each="language : ${languages}"
                th:text="${language.name}"></option>
    </select>
    <input type="submit" value="Show Translators">
</form>

<table class="table table-striped">
    <tbody>
        <tr th:each="translator : ${translators}">
            <td><a th:href="'/translator/detail?translatorId=' + ${translator.id}" th:text="${translator.id}"></a></td>
            <td th:text="${translator.firstName}"></td>
            <td th:text="${translator.lastName}"></td>
            <td th:text="${translator.language}"></td>
            <td th:text="${translator.address}"></td>
            <td th:text="${translator.bio}"></td>

        </tr>
    </tbody>
</table>



<div th:replace="fragments :: footer"></div>
</body>
</html>