<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
<body>
<div th:replace="fragments :: page-header"></div>
<div th:replace="fragments :: messages"></div>
</head>
<!--<h5>I have a document written in</h5>-->

<!--<form th:action="@{/search/results}" method = "post">
    <p>
        <label for="language1">Language:</label>
        <input type="text" id="language1" name="language1">
    </p>
    <h5>That I want translated to</h5>
    <p>
        <label for="language2">Langauge:</label>
        <input type="text" id="language2" name="language2">
    </p>

    <input type="submit" value="Show Translators">
</form>-->
<div th:replace="fragments :: messages"></div>
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h2> Search for Translators</h2>
                <br>
                <h5>We provide matches for English to foreign language</h5>
                <h5>Or foreign language to English translations.</h5>
                <br>
                <br>
                <h4>Please select a foreign language</h4>
                <h4>To be used for this translation:</h4>

                <form th:action="@{/search/results}" method="post">
                    <select required name="language" id="language">
                        <option disabled selected value> -- select a language --</option>
                        <option th:each="language : ${languages}"
                                th:text="${language.name}"></option>
                    </select>
                    <input type="submit" value="Show Translators">
                </form>

                <h5>Or</h5>
                <h5>Search by location:</h5>

                <form th:action="@{/search/results}" method = "post">
                    <input type="text" id="address" name="address">
                    <input type="submit" value="Show Translators">
                </form>

                <table class="table table-striped">
                    <tbody>
                    <tr th:each="translator : ${translators}">
                        <td> <img th:src="@{${translator.getPhotosImagePath}}"
                                  onerror="this.error=null;this.src='/img/default-logo.png';" width="100"
                                  alt="Translator Photo" class="rounded-circle"></td>
                        <td><a th:text="${translator.firstName} + ' ' + ${translator.lastName}"
                               th:href="'/admin/translator/Detail?translatorId='+ ${translator.id}"></a></td>
                <!--        <td th:text="${translator.lastName}"></td>-->
                        <td th:text="${translator.language}"></td>
                        <td th:text="${translator.address}"></td>
                        <td th:text="${translator.bio}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
                <div th:replace="fragments :: footer"></div>
    </body>
</html>